<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	  
	<meta charset="UTF-8">
	
	<div layout:fragment="content" class="content">
		<h2>게시글 목록</h2>
		<form th:action="@{/board/list}" th:method="get">
			<div class="input-group">
				<input type="hidden" name="page" value = "1">
				<div class="input-group-prepend">
					<select class="custom-select" name="type">
						<option th:selected="${pageRequestDTO.type == null}">>=======</option>
						<option th:value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
						<option th:value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
						<option th:value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
						<option th:value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
						<option th:value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목 + 내용 + 작성자</option>
					</select>
				</div>
				<input type="text" name="keyword" th:value="${pageRequestDTO.keyword}">
				<div class="input-group-prepend">
					<button type="submit" class="btn btn-outline-secondary btn-search">검색</button>
				</div>
			</div>
		</form>
		<table>
			<thead>
			<tr>
				<td>번호</td><td>제목</td><td>글쓴이</td><td>작성일</td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="dto : ${result.dtoList}">
				<td>[[${dto.bno}]]</td>
				<td>
					<a th:href="@{/board/read(bno=${dto.bno}, 
						page=${result.page}, 
						type=${pageRequestDTO.type}, 
						keyword=${pageRequestDTO.keyword})}">
						[[${dto.title}]]
					</a>
					[<b th:text="${dto.replyCount}"></b>]
				</td>
				<td>[[${dto.writerName}]] <small>[[${dto.writerEmail}]]</small></td>
				<td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
			</tr>
			</tbody>
		</table>
	</div>
</html>