<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>회원목록</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div th:replace="menu.html::nav"></div>
	<div id="container">
		<h2>회원목록</h2>
		<table class="tbl_member">
			<thead>
				<tr>
					<th>아이디</th><th>이름</th><th>역할</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member : ${memberList}">
					<td th:text="${member.id}"></td>
					<td th:text="${member.name}"></td>
					<td th:text="${member.role}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>