<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>회원정보</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div th:replace="menu.html::nav"></div>
	<div id="container">
		<h2>나의 정보</h2>
		<form th:action="@{/updateMember}" method="post">
			<table class="tbl_login">
				<tr>
					<td>아이디</td>
					<td><input type="text" name="id" th:value="${member.id}" readonly></td>
				</tr>
				<tr>
					<td>비밀번호</td>
					<td><input type="password" name="password" th:value="${member.password}"></td>
				</tr>
				<tr>
					<td>비밀번호 확인</td>
					<td><input type="password" name="password_check" th:value="${member.password}"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" name="name" th:value="${member.name}"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button type="submit">수정하기</button>
						<a th:href="@{/deleteMember(id=${member.id})}"
							onclick="return confirm('정말로 퇼퇴하시겠습니까?')">
								<button type="button">회원 탈퇴</button>
						</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>